.idea
/node_modules
/public/hot
/public/videos
/public/images
/public/storage
/public/banners/*
/public/js/app.js
/public/css/app.css
/storage/*.key
/vendor
/.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
index.js
test.js
/public/posters/*
docker/prod/nginx/logs/*
docker/prod/nginx/crt/*
docker/dev/nginx/logs/*
docker/dev/nginx/crt/*
/docker-compose.yml
dump.sql
app/Console/Commands/full.txt
app/Jobs/full.txt
._*
/composer.lock
